# ====================================
# ByteBerry OAuth2 Service - Environment Variables
# ====================================
# Fase: F0 - East Blue Saga (Bootstrap inicial)
# Servicio: OAuth2 (puerto 4000)
# ====================================

# ----------------
# Server Configuration
# 'development' | 'production' | 'test';
# ----------------
NODE_ENV=development
PORT=4000

# ----------------
# Logging Configuration
# 'debug' | 'info' | 'warn' | 'error'
# ----------------
LOG_LEVEL=info

# ----------------
# Application Metadata
# ----------------
SERVICE_NAME=byteberry-oauth2

# ----------------
# CORS Configuration (comma-separated list)
# ----------------
CORS_ORIGINS=<frontend dev Url>,<BFF>,<frontend prod url>